* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monserrat;
  color: #fff;
} /* Inico de barra de navegacion */
.nav__container {
  width: 100%;
  height: 10vh;
  padding: 20px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff; /* Borde inferior blanco */
  box-shadow: 0 10px 10px -8px rgba(255, 255, 255, 0.8);
} /* Fin Barra de navegacion */

/* Inicio de Logo con imagen */
.nav__image {
  background: url(../image/pelicula.png) no-repeat center center/ cover;
  width: 50px;
  height: 50px;
} /* Fin de logo con imagen */

/* Inicio de menu hamburguesa */
.contenedor {
  width: 30px;
}
.burger {
  display: none;
  cursor: pointer;
  margin-top: 12px;
}

.linea {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;

  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.burger.open .linea:nth-child(1) {
  transform: translateY(10px) rotate(50deg);
}
.burger.open .linea:nth-child(2) {
  opacity: 0;
}

.burger.open .linea:nth-child(3) {
  transform: translateY(-10px) rotate(-50deg);
}
/* Fin de menu hamburguesa */

/* Inicio de menu interno*/
.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover {
  color: #aaa;
}
/* Busqueda */
.contenedor__busqueda {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.busqueda {
  height: 35px;
  width: 500px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  font-size: 1rem;
}
.busqueda:focus {
  outline: none;
}
.btn-movie {
  margin: 5px;
  height: 35px;
  width: 5%;
  background-color: transparent;
  border: none;
}

.bi {
  font-size: 1.3rem;
}
.active {
  color: #aaa;
}
.fondo {
  background-color: #333;
}

/* PElicula */
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  width: 200px; 
  text-align: center;
  transition: all 0.5 ease-in;
}

.movie-card:hover {
  border: 2px solid #fff;
  border-radius: 8px;
  transform: translateX(180deg);
}
.movie-card img {
  width: 100%; 
  border-radius: 8px;
}
.movie-card {
  position: relative;
  display: inline-block;
  width: 200px; 
  margin: 15px;
  z-index: 1;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.heart-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart-icon {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.heart-icon.red {
  color: red;
}


@media (max-width: 800px) {
  .burger {
    display: block;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__links {
    position: fixed;

    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show {
    position: absolute;
    z-index: 10;
    transform: unset;
    width: 100%;
  }

  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .menu__link:hover {
    color: #aaa;
  }
  .peli {
    order: 4;
  }
  .busqueda {
    width: 85%;
  }
}
