#movie-details {
  display: grid;
  background-color: #333;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

#movie-details img {
  width: 300px;
  border-radius: 8px;
}
.movie__det h1 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.movie__det p {
  text-align: center;
}
@media (min-width: 800px) {
  #movie-details {
    display: block;
    text-align: center;
    height: 100vh;
  }

  #movie-details img {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    border-radius: 8px;
  }
}
